.banner {
    min-height: 760px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.660);
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    overflow: hidden;
}
.inner {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.660);
}
.header {
    position: absolute;
    width: 100%; 
    margin: 0 auto; 
    z-index: 3;
    top: 0;
}
.wrapper {
    text-align: center;
    max-width: 36.75rem;
}
.form {
    padding-top: 40px;
}