.wrapper {
    position: relative;
    padding-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 72px;
    border-radius: 16px;
    flex-basis: 25%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.04);
}
.title {
    color: white;
    font-weight: 600;
}
.img {
    position: absolute;
    right: 16px;
    bottom: 8px;
}
.img>svg {
    width: 48px;
    height: 48px;
}